<!doctype html>
<html>
<head>
    <title>Ratings</title>
</head>

<body>
    Ratings
    <!-- Add jinja & if conditional to the logout form below to display login if user not in session[user] and vice versa. -->
    <form action='/' id="logout" method="POST">
      <label for="logout"></label>     
      <input type="submit" value="Logout" id="logout" />
    </form>  
 
    <hr>

<!-- Wrap the flash messages in a div for styling -->

    <div id='flash'> 
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            {{ message }}
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>

    {% block content %} put your content here {% endblock %}

</body>
</html>
