{% extends 'base.html' %}
{% block content %}

<h2 id="movie-title">Title: {{ movie.title }}</h2>

        <!-- Add individual tags -->
    <h3 id="zipcode">Release date: {{ movie_year }}</h3>
    <h3 id="imbd-link"> IMDB url:<a href="{{ movie.imdb_url }}"> {{ movie.title }}</a> </h3> 
    <h3 id ="movie-id"> ID: {{ movie.movie_id }}</h3>

     <form action='/ind_movie' id='add-rating' method='POST'>
     <!-- Need to add submit on click or something -->
        <label for='rate-movie'>Would you like to rate this movie?
            <select name='user-rating' id='rate-movie'>
              <option value="1">1 Waste of time</option>
              <option value="2">2 Meh not so much</option>
              <option value="3">3 Like</option>
              <option value="4">4 Strongly recommend</option>
              <option value="5">5 Love</option>
            </select>

        </label>

    </form>
     

    <h4 id="ratings">Users' Ratings</h4>

    {% for rating in movie.ratings %}
    
        <ul>
            <li>User ID: {{rating.user_id}} Rating:{{ rating.score }}</li>
        </ul>
    
    {% endfor %}

{% endblock %}